/* MISSION SECTION 

<!--Vianney Goétrand KEDJITAR
Responsable Startup VINNOVER
Graphic-DESIGNER-->

*/
  .text
  {
    font-size: 15px;
    color: rgb(117, 117, 117);
  }
#map
{
  height: 30px;
  display: contents;
  border-radius: 30px;
  margin:10px;
}
  
  /* MISSION SECTION 
  <!--
  Vianney Goétrand KEDJITAR
Responsable Startup VINNOVER
Graphic-DESIGNER-->

  */